body {
    background-color: rgb(67, 144, 150);
    color : rgb(255, 255, 255); 
}
  
h1 {
    color: #000000;
    font-size: 30px; 
}

h2 {
    color: #000000;
    font-size: 20;
}

#options{
    overflow: hidden;
}

#options div {
    display: block;
    color: #eeeeee;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
  }

#indicators{
    overflow: hidden;
}
 
#indicators div {
    display: block;
    color: #eeeeee;
    padding: 15px 20px;
    font-size: 15px;
    float: left;
  }

#products div{
    display: block;
    padding: 5px;
    font-size: 15px;
}

table{
    border-spacing: 30px;
}

th, td {
    padding: 10px;
  }